asgiref==3.7.2
binary==1.0.0
cloudinary==1.36.0
dj-database-url @ git+https://github.com/jacobian/dj-database-url.git@ee2cb860f50e469c8e737291395a0a97a893b745
dj3-cloudinary-storage==0.0.6
Django==3.2.23
djangorestframework==3.14.0
gunicorn==21.2.0
Pillow==10.1.0
psycopg2==2.9.9
pytz==2023.3.post1
sqlparse==0.4.4
whitenoise==6.6.0
